In [1]:
# # RFM ile Müşteri Segmentasyonu (Customer Segmentation with RFM)
###############################################################

###############################################################
# İş Problemi (Business Problem)
###############################################################
# FLO müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
# Buna yönelik olarak müşterilerin davranışları tanımlanacak ve bu davranış öbeklenmelerine göre gruplar oluşturulacak..

###############################################################
# Veri Seti Hikayesi
###############################################################

# Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından
# elde edilen bilgilerden oluşmaktadır.

# master_id: Eşsiz müşteri numarası
# order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
# last_order_channel : En son alışverişin yapıldığı kanal
# first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
# last_order_date : Müşterinin yaptığı son alışveriş tarihi
# last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
# last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
# order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
# order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
# customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
# customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
# interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

# GÖREVLER

In [2]:
# GÖREV 1: Veriyi Anlama (Data Understanding) ve Hazırlama
           # 1. flo_data_20K.csv verisini okuyunuz.
           # 2. Veri setinde
                     # a. İlk 10 gözlem,
                     # b. Değişken isimleri,
                     # c. Betimsel istatistik,
                     # d. Boş değer,
                     # e. Değişken tipleri, incelemesi yapınız.
           # 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
           # alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.
           # 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.
           # 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.
           # 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.
           # 7. En fazla siparişi veren ilk 10 müşteriyi sıralayınız.
           # 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns


pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
df_ = pd.read_csv("flo_data_20k.csv")

In [5]:
df =df_.copy()

In [6]:
df.shape

(19945, 12)

In [7]:
# a. İlk 10 gözlem
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.0,2.0,150.87,49.99,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.0,1.0,59.99,315.94,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.0,1.0,49.99,113.64,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0,2.0,120.48,934.21,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.0,1.0,69.98,95.98,"[KADIN, AKTIFSPOR]"

In [8]:
#Değişken isimleri
df.nunique()             #df.columns

master_id                            19945
order_channel                            4
last_order_channel                       5
first_order_date                      2465
last_order_date                        366
last_order_date_online                1743
last_order_date_offline                738
order_num_total_ever_online             57
order_num_total_ever_offline            32
customer_value_total_ever_offline     6097
customer_value_total_ever_online     11292
interested_in_categories_12             32
dtype: int64

In [9]:
#c. Betimsel istatistik
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0,3.110855,4.225647,1.00,1.00,2.00,4.00,200.00
order_num_total_ever_offline,19945.0,1.913913,2.062880,1.00,1.00,1.00,2.00,109.00
customer_value_total_ever_offline,19945.0,253.922597,301.532853,10.00,99.99,179.98,319.97,18119.14
customer_value_total_ever_online,19945.0,497.321690,832.601886,12.99,149.98,286.46,578.44,45220.13

In [10]:
#d. Boş değer
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [11]:
# e. Değişken tipleri, incelemesi yapınız.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [12]:
df["order_channel"].value_counts().head()

Android App    9495
Mobile         4882
Ios App        2833
Desktop        2735
Name: order_channel, dtype: int64

In [13]:
# 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
           # alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.

    
df["total_order_num"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order_num
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0

In [14]:
df["total_order_price"] =df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order_num,total_order_price
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98

In [15]:
# 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order_num                    19945 non-null  float64
 13  total_order_price                  19945 non-null  float64
dtypes: float64(6), object(8)
memory usage: 2.1+ MB

In [16]:
date_convert =  df.columns[df.columns.str.contains("date")]
df[date_convert] = df[date_convert].apply(pd.to_datetime)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order_num                    19945 non-null  float64
 13  total_order_price                  19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [19]:
 # 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.

#rfm = df.groupby('master_id').agg({'last_order_date': lambda last_order_date: (first_order_date - last_order_date.max()).days,
 #                                    'order_channel': lambda order_channel: order_channel.nunique(),
  #                                   'total_order_price': lambda total_order_price: total_order_price.sum()})

In [22]:
# 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

df.groupby("master_id").agg({"total_order_price": "sum"}).sort_values(by = "total_order_price", ascending=False).head(5)

                                      total_order_price
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f           45905.10
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f           36818.29
73fd19aa-9e37-11e9-9897-000d3a38a36f           33918.10
7137a5c0-7aad-11ea-8f20-000d3a38a36f           31227.41
47a642fe-975b-11eb-8c2a-000d3a38a36f           20706.34

In [23]:
# 7. En fazla siparişi veren ilk 10 müşteriyi sıralayınız.

df.groupby("master_id").agg({"total_order_num": "sum"}).sort_values(by = "total_order_num", ascending=False).head(5)

                                      total_order_num
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f            202.0
cba59206-9dd1-11e9-9897-000d3a38a36f            131.0
a57f4302-b1a8-11e9-89fa-000d3a38a36f            111.0
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f             88.0
329968c6-a0e2-11e9-a2fc-000d3a38a36f             83.0

In [24]:
# 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

def data_func(df,csv=False):
    # For omnichannel total purchase {online + offline}
    df["total_order_price"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
    
    # For omnichannel total number {online + offline}
    df["total_order_num"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"]
    
    # Converting the above mentioned column types from object to datetime format
    date_convert = ["first_order_date", "last_order_date", "last_order_date_online", "last_order_date_offline" ]
    df[date_convert] = df[date_convert].apply(pd.to_datetime)
    
    return df

data_func(df).head(2)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order_num,total_order_price
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55

In [25]:
#RFM Metriklerinin Hesaplanması Recency, Frequency, Monetary

In [26]:
df.nunique()

master_id                            19945
order_channel                            4
last_order_channel                       5
first_order_date                      2465
last_order_date                        366
last_order_date_online                1743
last_order_date_offline                738
order_num_total_ever_online             57
order_num_total_ever_offline            32
customer_value_total_ever_offline     6097
customer_value_total_ever_online     11292
interested_in_categories_12             32
total_order_num                         63
total_order_price                    16277
dtype: int64

In [27]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [28]:
df["last_order_date"].max()
today_date = dt.datetime(2021, 5, 30)

rfm = pd.DataFrame()
rfm["Recency"] = (today_date - df["last_order_date"]).astype('timedelta64[D]')
rfm["Frequency"] = df["total_order_num"]
rfm["Monetary"] = df["total_order_price"]

rfm.head()

   Recency  Frequency  Monetary
0     93.0        5.0    939.37
1    103.0       21.0   2013.55
2    184.0        5.0    585.32
3    133.0        2.0    121.97
4     84.0        2.0    209.98

In [29]:
#df["Recency"] = (today_date - df["last_order_date"]).astype('timedelta64[D]')
#df["Frequency"] = df["total_order_num"]
#df["Monetary"] = df["total_order_price"]

In [30]:
#df.head(1)

In [31]:
#Recency, Frequency ve Monetary metriklerini qcut yardımı ile 1–5 arasında skorlara çeviriyoruz.

In [32]:
rfm["recency_score"] = pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])

rfm["frequency_score"] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

rfm["monetary_score"] = pd.qcut(rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])

rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) +
                    rfm['frequency_score'].astype(str))

rfm.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,19945.0,132.458360,103.281149,0.00,41.00,109.00,200.00,365.0
Frequency,19945.0,5.024768,4.742707,2.00,3.00,4.00,6.00,202.0
Monetary,19945.0,751.244287,895.402173,44.98,339.98,545.27,897.78,45905.1

In [33]:
rfm[rfm["RF_SCORE"] == "51"].head(15)

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score,RF_SCORE
59,6.0,2.0,654.89,5,1,3,51
75,22.0,2.0,201.30,5,1,1,51
166,0.0,2.0,490.97,5,1,3,51
218,7.0,2.0,143.98,5,1,1,51
222,9.0,2.0,155.97,5,1,1,51
272,7.0,2.0,288.95,5,1,1,51
286,21.0,2.0,165.98,5,1,1,51
313,12.0,2.0,196.57,5,1,1,51
328,25.0,2.0,355.65,5,1,2,51
340,28.0,2.0,503.19,5,1,3,51
352,19.0,2.0,618.94,5,1,3,51
397,2.0,2.0,283.82,5,1,1,51
415,14.0,2.0,698.15,5,1,4,51
419,20.0,2.0,253.06,5,1,1,51
495,1.0,2.0,440.64,5,1,2,51

In [34]:
# 6. RFM Segmentlerinin Oluşturulması ve Analiz Edilmesi (Creating & Analysing RFM Segments)

In [35]:
#RFM isimlendirmesi
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [36]:
rfm.head(10)

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
0,93.0,5.0,939.37,3,4,4,34,loyal_customers
1,103.0,21.0,2013.55,3,5,5,35,loyal_customers
2,184.0,5.0,585.32,2,4,3,24,at_Risk
3,133.0,2.0,121.97,3,1,1,31,about_to_sleep
4,84.0,2.0,209.98,3,1,1,31,about_to_sleep
5,78.0,3.0,200.86,4,2,1,42,potential_loyalists
6,224.0,4.0,375.93,2,3,2,23,at_Risk
7,291.0,2.0,163.63,1,1,1,11,hibernating
8,84.0,5.0,1054.69,3,4,5,34,loyal_customers
9,238.0,2.0,165.96,1,1,1,11,hibernating

In [37]:
rfm[["segment","Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "sum", "max", "count"])

                        Recency                         Frequency           \
                           mean       sum    max count       mean      sum
segment
about_to_sleep       111.785144  182098.0  143.0  1629   2.401473   3912.0
at_Risk              239.606835  750209.0  365.0  3131   4.472373  14003.0
cant_loose           233.444167  280133.0  365.0  1200  10.698333  12838.0
champions             15.106625   29186.0   31.0  1932   8.934265  17261.0
hibernating          245.949501  886402.0  365.0  3604   2.394007   8628.0
loyal_customers       80.594763  270879.0  143.0  3361   8.374591  28147.0
need_attention       111.828676   92035.0  143.0   823   3.727825   3068.0
new_customers         15.917647   10824.0   31.0   680   2.000000   1360.0
potential_loyalists   35.155888  103288.0   81.0  2938   3.304289   9708.0
promising             56.921175   36828.0   81.0   647   2.000000   1294.0

                                     Monetary
                       max count         mean         sum       max count
segment
about_to_sleep         3.0  1629   359.008963   584825.60   1607.45  1629
at_Risk                7.0  3131   646.610236  2024536.65   3615.67  3131
cant_loose           111.0  1200  1474.468217  1769361.86  12103.15  1200
champions            202.0  1932  1406.625109  2717599.71  45905.10  1932
hibernating            3.0  3604   366.267062  1320026.49   2533.04  3604
loyal_customers       83.0  3361  1216.818616  4089727.37  36818.29  3361
need_attention         4.0   823   562.142965   462643.66   4361.44   823
new_customers          2.0   680   339.955544   231169.77   1725.38   680
potential_loyalists    4.0  2938   533.184466  1566495.96  20706.34  2938
promising              2.0   647   335.672705   217180.24   1671.75   647